.header .wrenpic{
    width: 5%;
    border-width: 5px;
    border-color: black;
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
}
.header .links a{
    font-family: 'Roboto', sans-serif;
    color: white;
}