body{
    margin: 0px;
   font-family: 'Roboto', sans-serif;
}
.wrenPic{
    width: 5%;
    border-radius: 50%;
}

.hero, .header{
    background-color: #1F2937;
    padding: 10px;
    color: white;
    
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .links a{
    color: white;
    text-decoration: none;
}

.header .links{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.header .links a:hover{
    color: darkgrey;
}

.hero{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.coePic{
    width: 15%;
    height: 15%;
}
.heroLHS{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heroMainText{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
}
.heroSubText{
    font-size: 18px;
    color: #e5e7eb;
}
.heroButton{
    background-color: #3882f6;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border-width: 0px;
    padding: 5px;
    color: #f9faf8;
    font-size: 18px;
}
.infoImage{
    height: 200px;
    width: 200px;
    border: 3px solid #3882f6;
    border-radius: 15%;
}
.infoBoxes{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.imgText{
    width: 200px;
    text-align: center;
    font-size: 18px;;
}
.infoHeading{
    color: #1f2937;
    font-weight: 1000;
    font-size: 36px;
    text-align: center;
}
.info{
    padding: 50px 400px 100px 400px;
    
}

.quoteSection{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.mainQuote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-self: center;
    width: 750px;
    margin: 0px;
}
.quoteWho{
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    margin: 0px;
}


.footer{
    margin: 100px auto 100px auto;
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    gap: 20px;
    width: 500px;
    align-self: center;
    }
.footerText1, .footerText2{
    font-weight: 18px;
    margin: 0px;
    padding: 0px;
}

.footerText1{
    font-weight: 800;
}


.footTextDiv{
    display: flex;
    flex-direction: column;
}

.footerButton{
    border: 2px solid white;
    text-align: center;
}